.article {
  &__container {
    @include vp-1024 {
    }
  }

  &__entry {
  }

  &__heading {
    @include vp-1024 {
    }
  }

  &__back {
    @include vp-1024 {
    }
  }

  &__back-icon {
    @include vp-1024 {
    }
  }
  &__title {
    @include vp-768 {
    }
    @include vp-1024 {
    }
  }

  &__tags {
    padding-left: 0;
  }

  &__image {
    @include vp-375 {
    }

    @include vp-1024 {
    }

    img {
    }
  }

  &__meta {
    @include vp-768 {
    }
  }

  &__date {
    @include vp-768 {
    }
    @include vp-1024 {
    }
  }

  &__categories {
    @include vp-768 {
    }
  }
  &__category {
    @include vp-768 {
    }
    @include vp-1024 {
    }
  }

  &__text {
    @include vp-768 {
    }
  }

  pre {
    background-color: var(--astro-code-color-background);
    font-family: "JetBrains Mono", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
      "Noto Color Emoji";
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.wp-block-rank-math-toc-block {
  a {
    @apply text-gray hover:text-white;
  }
  @include vp-768 {
  }

  @include vp-1440 {
  }
  h2 {
  }
  ul {
  }
}
