.calc {
  &__title {
  }
  &__form {
  }

  &__row {
  }

  &__date {
  }

  &__types {
  }

  &__types-title {
  }

  &__types-w {
  }

  &__type {
    position: relative;
    color: transparent;
  }

  &__type_selected {
    color: white;
    .calc__type-label {
      @apply text-black;
    }
  }

  &__type_anim {
  }

  &__type_create {
  }

  &__type_cook {
  }

  &__type_show {
  }

  &__type-text {
    position: relative;
    z-index: 1;
  }

  &__radio {
  }

  &__type-bg {
    // z-index: -1;
    // z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__slider {
    position: relative;
    @apply pr-3 pb-12;
    // margin: 20px;

    .rc-slider {
      @apply w-full h-[62px];
    }
    .rc-slider-rail {
      @apply h-[60px]  bg-transparent rounded-2xl;
      width: calc(100% + 8px);
      border: 2px solid rgba(255, 255, 255, 0.8);
    }

    .rc-slider-track {
      @apply my-1 mx-1 h-[52px] rounded-xl;
      background-color: #fff;
      background-image: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
      // overflow: hidden;
    }
    .rc-slider-step {
      display: none;
    }

    .rc-slider-handle {
      @apply w-[40px] h-[52px] mt-1  border-none bg-transparent rounded-xl opacity-100;
      // background: white;
      &:before {
        content: none; /* Remove default handle content */
      }
      &.rc-slider-handle-dragging {
        @apply border-none shadow-none;
        &.rc-slider-handle-dragging {
          @apply border-none shadow-none;
          &.rc-slider-handle-dragging {
            @apply border-none shadow-none;
          }
        }
      }
    }

    .rc-slider-mark {
      // position: absolute;
      top: 100%;
      // left: 20px;
      left: 0;
      right: 0;
      // right: 20px;
      height: 40px;
      // width: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .rc-slider-mark-text {
      top: 10px; /* Adjust this value to position the text below the mark */
      left: 50%;
      width: 40px;
      height: 40px;
      @apply text-center flex items-center justify-center text-2xl font-semibold leading-[20px] text-white;
    }
  }

  &__slider_guests {
    .rc-slider-handle {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cmask id='path-1-outside-1_1_245' maskUnits='userSpaceOnUse' x='1.66663' y='2.50098' width='41' height='39' fill='black'%3E%3Crect fill='white' x='1.66663' y='2.50098' width='41' height='39'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.05141 9.32454C6.72274 10.6636 6.78843 12.1782 7.17071 13.4476C4.97965 15.6861 3.66663 18.4921 3.66663 21.7045C3.66663 30.0771 12.5859 39.418 22.7231 39.418C32.8603 39.418 40.026 32.8813 40.026 24.5088C40.026 20.6833 38.53 16.8487 35.9382 13.8119C36.1542 13.2235 36.2869 12.556 36.3182 11.84C36.43 9.27987 35.22 6.64873 33.3494 6.56706C31.8575 6.50192 30.461 7.53434 29.8998 9.25363C27.7531 8.27965 25.3369 7.72015 22.7231 7.72015C19.7601 7.72015 16.9011 8.19959 14.3385 9.08728C14.1356 7.3585 13.3541 5.92348 12.0349 5.59969C9.99327 5.09857 7.73723 6.53043 7.05141 9.32454Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.05141 9.32454C6.72274 10.6636 6.78843 12.1782 7.17071 13.4476C4.97965 15.6861 3.66663 18.4921 3.66663 21.7045C3.66663 30.0771 12.5859 39.418 22.7231 39.418C32.8603 39.418 40.026 32.8813 40.026 24.5088C40.026 20.6833 38.53 16.8487 35.9382 13.8119C36.1542 13.2235 36.2869 12.556 36.3182 11.84C36.43 9.27987 35.22 6.64873 33.3494 6.56706C31.8575 6.50192 30.461 7.53434 29.8998 9.25363C27.7531 8.27965 25.3369 7.72015 22.7231 7.72015C19.7601 7.72015 16.9011 8.19959 14.3385 9.08728C14.1356 7.3585 13.3541 5.92348 12.0349 5.59969C9.99327 5.09857 7.73723 6.53043 7.05141 9.32454Z' fill='white'/%3E%3Cpath d='M7.17071 13.4476L8.6 14.8466L9.42644 14.0022L9.08576 12.8709L7.17071 13.4476ZM7.05141 9.32454L8.99376 9.80129L7.05141 9.32454ZM35.9382 13.8119L34.0607 13.1228L33.6577 14.2207L34.417 15.1103L35.9382 13.8119ZM36.3182 11.84L34.3201 11.7527V11.7527L36.3182 11.84ZM33.3494 6.56706L33.2621 8.56515L33.3494 6.56706ZM29.8998 9.25363L29.0735 11.0749L31.1079 11.998L31.8011 9.87418L29.8998 9.25363ZM14.3385 9.08728L12.3522 9.32044L12.6422 11.7915L14.9932 10.9771L14.3385 9.08728ZM12.0349 5.59969L11.5582 7.54204H11.5582L12.0349 5.59969ZM9.08576 12.8709C8.80103 11.9254 8.75482 10.7748 8.99376 9.80129L5.10907 8.84779C4.69067 10.5524 4.77584 12.4309 5.25566 14.0243L9.08576 12.8709ZM5.66663 21.7045C5.66663 19.0804 6.72644 16.7607 8.6 14.8466L5.74142 12.0486C3.23286 14.6115 1.66663 17.9038 1.66663 21.7045H5.66663ZM22.7231 37.418C18.2681 37.418 13.9819 35.3561 10.7838 32.2633C7.56614 29.1516 5.66663 25.2124 5.66663 21.7045H1.66663C1.66663 26.5692 4.22676 31.4867 8.00308 35.1387C11.7989 38.8095 17.041 41.418 22.7231 41.418V37.418ZM38.026 24.5088C38.026 31.5372 32.0116 37.418 22.7231 37.418V41.418C33.7091 41.418 42.026 34.2255 42.026 24.5088H38.026ZM34.417 15.1103C36.7253 17.8149 38.026 21.1972 38.026 24.5088H42.026C42.026 20.1693 40.3347 15.8824 37.4595 12.5136L34.417 15.1103ZM34.3201 11.7527C34.2971 12.2791 34.2004 12.7421 34.0607 13.1228L37.8157 14.501C38.1079 13.7049 38.2768 12.8328 38.3163 11.9272L34.3201 11.7527ZM33.2621 8.56515C33.2629 8.56519 33.2652 8.56479 33.2758 8.56901C33.2884 8.57407 33.3216 8.58958 33.3729 8.63047C33.4824 8.71758 33.6437 8.89608 33.8091 9.20888C34.1459 9.84591 34.3624 10.7837 34.3201 11.7527L38.3163 11.9272C38.3858 10.3361 38.0532 8.67832 37.3453 7.33933C36.6606 6.04421 35.381 4.65386 33.4366 4.56896L33.2621 8.56515ZM31.8011 9.87418C32.1359 8.84834 32.8249 8.54606 33.2621 8.56515L33.4366 4.56896C30.8902 4.45778 28.786 6.22034 27.9985 8.63309L31.8011 9.87418ZM22.7231 9.72015C25.0468 9.72015 27.1817 10.2166 29.0735 11.0749L30.7262 7.43232C28.3245 6.34267 25.6269 5.72015 22.7231 5.72015V9.72015ZM14.9932 10.9771C17.3353 10.1658 19.9721 9.72015 22.7231 9.72015V5.72015C19.5481 5.72015 16.467 6.23337 13.6839 7.19745L14.9932 10.9771ZM11.5582 7.54204C11.5988 7.552 11.7318 7.59328 11.9107 7.87872C12.0997 8.18043 12.2755 8.66753 12.3522 9.32044L16.3249 8.85412C16.0936 6.88365 15.0942 4.29123 12.5117 3.65735L11.5582 7.54204ZM8.99376 9.80129C9.48541 7.79823 10.8508 7.36841 11.5582 7.54204L12.5117 3.65735C9.13577 2.82873 5.98904 5.26264 5.10907 8.84779L8.99376 9.80129Z' fill='black' mask='url(%23path-1-outside-1_1_245)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.4637 26.5123C32.0902 26.4238 32.6679 26.2197 33.152 25.9002C35.2561 24.5115 35.127 20.9682 33.152 17.9756C31.177 14.9831 28.0458 13.5532 25.9417 14.9418C25.0451 15.5335 24.4199 16.6324 24.1503 17.9304C22.9354 17.4723 21.8181 17.1651 20.956 17.0868C17.0603 16.7329 13.7754 19.2255 13.5486 21.7228C13.3218 24.22 16.4464 26.3454 20.3421 26.6992C23.0653 26.9466 28.4135 27.2219 31.4637 26.5123Z' fill='black'/%3E%3Cpath d='M26.4392 23.4584C25.8317 22.4065 26.1067 20.3299 27.4476 19.5554C28.7886 18.7809 30.742 19.5807 31.3495 20.6325C31.957 21.6843 31.2097 22.7687 29.8688 23.5432C28.5278 24.3176 27.0467 24.5102 26.4392 23.4584Z' fill='white'/%3E%3Cpath d='M26.0386 33.5902C25.7242 34.7634 23.0087 37.0136 20.8695 36.4404C19.2525 36.0071 17.182 32.1919 17.415 28.5793C17.7294 27.406 20.3431 32.2246 21.96 32.6578C23.5769 33.0911 26.353 32.4169 26.0386 33.5902Z' fill='black'/%3E%3Cpath d='M18.8168 21.6831C19.1336 20.5105 20.7993 19.2403 22.2943 19.6443C23.7892 20.0482 24.6005 21.9968 24.2837 23.1694C23.9668 24.342 22.6712 24.5774 21.1762 24.1735C19.6813 23.7696 18.4999 22.8557 18.8168 21.6831Z' fill='white'/%3E%3Cpath d='M29.7688 26.8316C29.7688 27.9849 28.2056 30.0946 26.0396 30.0946C23.8736 30.0946 21.6112 28.8079 21.6112 27.6546C21.6112 26.5014 21.8924 25.7827 24.0585 25.7827C26.2245 25.7827 29.7688 25.6783 29.7688 26.8316Z' fill='black' stroke='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.2459 33.1892C24.6013 33.7705 23.7434 34.204 22.7616 34.204C20.5956 34.204 18.3333 32.9172 18.3333 31.764C18.3333 31.0948 18.4279 30.572 18.9305 30.251C18.9364 30.2583 18.9423 30.2657 18.9482 30.273C19.8442 31.3866 20.9044 32.7043 21.7145 32.9213C22.3182 33.0831 23.0836 33.0905 23.7893 33.0973C24.3492 33.1027 24.8716 33.1077 25.2459 33.1892Z' fill='white'/%3E%3Cellipse cx='28.1374' cy='22.1702' rx='0.932291' ry='1.16536' fill='black'/%3E%3Cellipse cx='22.5435' cy='22.1702' rx='0.932291' ry='1.16536' fill='black'/%3E%3C/svg%3E");
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }

  &__slider_hours {
    .rc-slider-handle {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M33.9386 12.9757C39.6406 19.6689 38.5714 30.0677 31.3835 36.1911C24.1956 42.3146 13.7591 41.7176 8.0571 35.0245C2.35515 28.3313 3.42428 17.9325 10.6122 11.8091C17.8001 5.68561 28.2367 6.2826 33.9386 12.9757Z' fill='white' stroke='black' stroke-width='2'/%3E%3Cmask id='path-2-inside-1_1_263' fill='white'%3E%3Cpath d='M39.7966 12.1347C37.9107 8.46474 34.6783 5.64478 30.701 4.19977L29.8015 6.3024C33.2613 7.55942 36.0732 10.0125 37.7138 13.205L39.7966 12.1347Z'/%3E%3C/mask%3E%3Cpath d='M39.7966 12.1347C37.9107 8.46474 346783 5.64478 30.701 4.19977L29.8015 6.3024C33.2613 7.55942 36.0732 10.0125 37.7138 13.205L39.7966 12.1347Z' fill='white' stroke='black' stroke-width='4' mask='url(%23path-2-inside-1_1_263)'/%3E%3Cmask id='path-3-inside-2_1_263' fill='white'%3E%3Cpath d='M20.097 3.1432C15.7815 3.26144 11.5856 4.89295 8.29055 7.734L9.78617 9.37684C12.6526 6.9054 16.3026 5.48615 20.0567 5.38328L20.097 3.1432Z'/%3E%3C/mask%3E%3Cpath d='M20.097 3.1432C15.7815 3.26144 11.5856 4.89295 8.29055 7.734L9.78617 9.37684C12.6526 6.9054 16.3026 5.48615 20.0567 5.38328L20.097 3.1432Z' fill='white' stroke='black' stroke-width='4' mask='url(%23path-3-inside-2_1_263)'/%3E%3Cpath d='M22 16L21.1818 24.6957L13 26' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }

  &__price-w {
  }
}
