.datepicker {
  @apply w-48 lg:w-64 inline-flex rounded-[20px] lg:rounded-[39px] px-8 py-4 lg:py-7 bg-white text-center text-sm lg:text-lg  font-bold leading-[20px] text-black;
  border: 2px solid rgba(0, 0, 0, 0.11);

  &__container {
  }
  &__input {
  }

  &__icon {
    pointer-events: none;
  }
  //   .react-datepicker__input-container {
  //     .react-datepicker__calendar-icon {
  //       padding-left: 0px;
  //       padding-right: 0;
  //       padding-top: 0;
  //       padding-bottom: 0;
  //       width: 32px;
  //       height: 32px;
  //       color: black;
  //     }
  //   }
  //   .react-datepicker__view-calendar-icon {
  //     input {
  //       @apply text-black;
  //       text-align: center;
  //     }
  //   }
  .react-datepicker__input-container input {
    @apply py-1  pl-8 lg:pl-4;
    width: 100%;
    text-align: center;
  }
  .react-datepicker-popper {
    z-index: 2;
  }
}
