.form {
  &__row {
  }

  &__field {
    position: relative;
  }

  &__field_datepicker {
  }

  &__field_radio {
  }

  &__label {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__radio {
    pointer-events: all;
  }

  &__input {
    @apply px-6 w-full h-[70px] lg:h-[90px] text-lg text-black font-medium rounded-[26px] placeholder:text-[#B2ABAA];
    border: 1.605px solid rgba(0, 0, 0, 0.11);
  }

  &__submit {
    // @apply ;
  }
}
