.game {
  // @apply rounded-[68px] lg:rounded-[158px];
  // overflow: hidden;
  &__container {
    position: relative;
  }
  &__title {
  }

  &__list {
    @apply w-full;
  }
  &__item {
    @apply relative last:mb-0 mb-1 lg:mb-3 aspect-game-odd;

    &:after {
      @apply z-0 content-[''] absolute top-0 left-0 w-full h-full bg-no-repeat bg-left-top bg-cover bg-transparent;
    }
    &:nth-child(odd) {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 898 143' fill='none'%3E%3Cpath d='M0 71.4163C0 54.5798 0 46.1615 1.89008 39.275C6.86946 21.1327 21.0932 6.98971 39.2636 2.11375C46.1608 0.262914 54.5789 0.31086 71.4152 0.406753L832.59 4.74211C844.409 4.80943 850.319 4.84309 855.241 5.81256C876.453 9.9902 893.002 26.6331 897.059 47.8686C898 52.7966 898 58.7062 898 70.5254C898 82.3198 898 88.217 897.061 93.1378C893.017 114.341 876.518 130.973 855.348 135.187C850.435 136.165 844.538 136.213 832.744 136.308L71.5814 142.425C54.7099 142.56 46.2742 142.628 39.3631 140.788C21.155 135.94 6.89 121.789 1.89567 103.62C0 96.7243 0 88.2883 0 71.4163Z' fill='white'/%3E%3C/svg%3E");
      }
    }

    &:nth-child(even) {
      @apply aspect-game-even;
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='899' height='141' viewBox='0 0 899 141' fill='none'%3E%3Cpath d='M899 70.5813C899 86.4921 899 94.4474 897.31 100.978C892.459 119.729 877.766 134.34 858.988 139.086C852.448 140.739 844.493 140.694 828.582 140.605L64.4937 136.319C53.532 136.257 48.0511 136.226 43.4752 135.39C21.6851 131.41 4.66883 114.298 0.810307 92.4856C4.64171e-06 87.905 5.12087e-06 82.424 6.07919e-06 71.4621C7.03553e-06 60.5228 7.5137e-06 55.0532 0.80793 50.4792C4.65479 28.7004 21.6207 11.5997 43.3684 7.58055C47.9359 6.73645 53.4053 6.69316 64.3442 6.60659L828.421 0.558725C844.364 0.432536 852.336 0.369426 858.889 2.01225C877.704 6.72941 892.439 21.3486 897.305 40.1262C899 46.6657 899 54.6376 899 70.5813Z' fill='white'/%3E%3C/svg%3E");
      }
    }

    &:nth-child(1n) {
      // .game__item-image {
      //   width: 184px;
      //   // height: 80px;
      //   @include vp-1024 {
      //     width: 188px;
      //   }
      // }
    }

    &:nth-child(2n) {
      // .game__item-image {
      //   width: 136px;
      //   // height: 78px;
      //   @include vp-1024 {
      //     width: 180px;
      //   }
      // }
    }

    &:nth-child(3n) {
      // .game__item-image {
      //   width: 124px;
      //   // height: 79px;
      //   @include vp-1024 {
      //     width: 188px;
      //   }
      // }
    }
  }

  &__item-inner {
    @apply z-10 absolute pl-4 lg:pl-6 py-1 lg:py-0 inset-0 lg:gap-10 shrink-0 flex items-center gap-x-1 lg:gap-x-3 mb-1 text-left;
  }

  &__item-image {
    @apply relative w-[84px] lg:w-[198px] flex-shrink-0 flex-grow-0 aspect-game-thumb-mob lg:aspect-game-thumb;
    margin-right: -10px;
    @include vp-768 {
      margin-right: -20px;
      // margin-right: 20px;
    }
    @include vp-1024 {
    }
    img {
      @apply absolute inset-0;
    }
  }

  &__entry {
  }

  &__text {
  }

  &__big-image {
  }
}
