.game {
  // @apply rounded-[68px] lg:rounded-[158px];
  // overflow: hidden;
  &__container {
    position: relative;
  }
  &__title {
  }

  &__list {
  }
  &__item {
    background-position: 0% 0%;
    background-repeat: no-repeat;
    // @apply rounded-[38px] lg:rounded-[50px];
    @include vp-1024 {
      // background-size: 100% 100%;
    }
    &:nth-child(odd) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='343' height='90' viewBox='0 0 343 90' fill='none'%3E%3Cpath d='M0 44.9132C0 36.9539 0 32.9743 0.623671 29.6675C3.39346 14.9814 14.9489 3.53391 29.6603 0.902057C32.9729 0.309446 36.9523 0.346793 44.9112 0.421487L301.803 2.83239C306.949 2.88068 309.521 2.90482 311.686 3.18909C327.976 5.3278 340.75 18.223 342.736 34.5314C343 36.6991 343 39.272 343 44.4178C343 49.5458 343 52.1098 342.737 54.2721C340.762 70.5378 328.052 83.4175 311.813 85.6083C309.655 85.8995 307.091 85.9335 301.963 86.0014L45.0828 89.403C37.0966 89.5088 33.1036 89.5616 29.7809 88.9789C15.0224 86.3904 3.41039 74.9311 0.62671 60.2082C0 56.8935 0 52.9001 0 44.9132Z' fill='white'/%3E%3C/svg%3E");
      @include vp-1024 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 898 143' fill='none'%3E%3Cpath d='M0 71.4163C0 54.5798 0 46.1615 1.89008 39.275C6.86946 21.1327 21.0932 6.98971 39.2636 2.11375C46.1608 0.262914 54.5789 0.31086 71.4152 0.406753L832.59 4.74211C844.409 4.80943 850.319 4.84309 855.241 5.81256C876.453 9.9902 893.002 26.6331 897.059 47.8686C898 52.7966 898 58.7062 898 70.5254C898 82.3198 898 88.217 897.061 93.1378C893.017 114.341 876.518 130.973 855.348 135.187C850.435 136.165 844.538 136.213 832.744 136.308L71.5814 142.425C54.7099 142.56 46.2742 142.628 39.3631 140.788C21.155 135.94 6.89 121.789 1.89567 103.62C0 96.7243 0 88.2883 0 71.4163Z' fill='white'/%3E%3C/svg%3E");
      }
    }

    &:nth-child(even) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='343' height='90' viewBox='0 0 343 90' fill='none'%3E%3Cpath d='M343 45.0868C343 53.0461 343 57.0257 342.376 60.3325C339.607 75.0186 328.051 86.4661 313.34 89.0979C310.027 89.6906 306.048 89.6532 298.089 89.5785L41.197 87.1676C36.0514 87.1193 33.4786 87.0952 31.3135 86.8109C15.0245 84.6722 2.2497 71.7769 0.26395 55.4685C3.20834e-06 53.3009 3.43327e-06 50.728 3.88312e-06 45.5822C4.33143e-06 40.4542 4.55558e-06 37.8902 0.262639 35.7279C2.23826 19.4622 14.9485 6.58254 31.1866 4.39174C33.3453 4.10049 35.909 4.06655 41.0366 3.99865L297.917 0.597019C305.903 0.491261 309.896 0.43839 313.219 1.02115C327.978 3.60965 339.59 15.0689 342.373 29.7918C343 33.1065 343 37.0999 343 45.0868Z' fill='white'/%3E%3C/svg%3E");
      @include vp-1024 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 899 141' fill='none'%3E%3Cpath d='M899 70.5813C899 86.4921 899 94.4474 897.31 100.978C892.459 119.729 877.766 134.34 858.988 139.086C852.448 140.739 844.493 140.694 828.582 140.605L64.4937 136.319C53.532 136.257 48.0511 136.226 43.4752 135.39C21.6851 131.41 4.66883 114.298 0.810307 92.4856C4.64171e-06 87.905 5.12087e-06 82.424 6.07919e-06 71.4621C7.03553e-06 60.5228 7.5137e-06 55.0532 0.80793 50.4792C4.65479 28.7004 21.6207 11.5997 43.3684 7.58055C47.9359 6.73645 53.4053 6.69316 64.3442 6.60659L828.421 0.558725C844.364 0.432536 852.336 0.369426 858.889 2.01225C877.704 6.72941 892.439 21.3486 897.305 40.1262C899 46.6657 899 54.6376 899 70.5813Z' fill='white'/%3E%3C/svg%3E");
      }
    }
  }

  &__entry {
  }

  &__text {
  }

  &__big-image {
  }
}
