.hero {
  overflow: hidden;

  &__container {
    @include vp-768 {
    }

    @include vp-1024 {
    }
    @include vp-1280 {
    }
    @include vp-1440 {
    }
  }

  &__title {
    @include vp-768 {
    }
    @include vp-1024 {
    }
  }

  &__bears {
    @apply w-[154px] lg:w-full;
  }

  &__bear {
    &:nth-child(1),
    &:nth-child(2) {
      @apply hidden lg:block;
    }
  }

  &__slider {
    position: relative;
    margin-right: -16px;
    margin-bottom: 24px;
    @include vp-1024 {
      margin-right: 0;
    }
  }

  &__swiper {
    @apply h-[525px] lg:h-[548px];
    &.swiper {
      @apply overflow-visible;
    }
    .swiper-wrapper {
      @apply w-full;
    }
    .swiper-slide {
      @apply w-[calc(302px+8px)] lg:w-[calc(921px+16px)];
      @include vp-1024 {
      }
    }
  }

  &__slider-slide {
    @apply px-1 lg:px-2;
    // width: fit-content !important;
    @include vp-1024 {
      // width: fit-content !important;
    }
  }

  &__slider-item {
    @apply relative;

    @include vp-1024 {
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__slider-inside {
    @apply absolute inset-0 py-5 px-4 lg:py-4 lg:px-4 flex flex-col lg:flex-row items-center lg:gap-4;
  }

  &__slider-image {
    @apply w-[270px]  overflow-hidden lg:w-[487px];
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }

  &__slider-entry {
  }

  &__slider-title {
  }

  &__text {
    @include vp-768 {
    }
    @include vp-1024 {
    }
    @include vp-1280 {
    }
  }

  &__navigation {
    z-index: 1;
    position: absolute;
    top: calc(100% + 64px);
    right: 30px;
    height: 64px;
    @include vp-1024 {
      top: 50%;
      right: 0;
      left: 0;
    }
  }

  &__slider-prev,
  &__slider-next {
    z-index: 1;
    position: absolute;
    top: 0;
    transform: none;
    @include vp-1024 {
      top: 50%;
      transform: translateY(-50px) rotate(0);
    }
    &.swiper-button-disabled {
      opacity: 0.8;
    }
  }
  &__slider-prev {
    // left: 150px;
    @include vp-1024 {
      transform: translateY(-50px) rotate(0deg);
      left: 0;
    }
  }

  &__slider-next {
    right: 0;
    transform: rotate(180deg);
    @include vp-1024 {
      transform: translateY(-50px) rotate(180deg);
      right: 0;
    }
  }
}
