.logo {
  flex-shrink: 0;
  font-weight: 300;
  font-size: size(23px);
  color: currentColor;
  text-transform: none;
  letter-spacing: size(-.8px);
  line-height: 1;
  @include vp-1024 {
    font-size: size(40px);
  }
  &:hover {
  }
}
