.testimonials {
  overflow: hidden;
  &__container {
  }

  &__title {
    @include vp-768 {
    }
    @include vp-1024 {
    }
  }

  &__text {
    @include vp-768 {
    }
    @include vp-1024 {
    }
  }

  &__slider {
    @include vp-320 {
      // padding-left: 0;
      padding-right: 0;
    }
    .swiper {
      width: 100%;
    }
  }

  &__entry {
    position: relative;
    border-radius: 47px;
    @include vp-1024 {
      border-radius: 55px;
    }

    &:before,
    &:after {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }

    &:before {
      width: 100%;
      height: 100%;
      @apply bg-light-gray;
      border-radius: 55px;
      transform: rotate(-2.697deg);
    }
    &:after {
      left: 84px;
      top: 100%;
      width: 34px;
      height: 19px;
      background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 48 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H48L44.3447 3.36563C32.4381 14.3284 18.1755 22.4139 2.65409 27C6.43879 19.5732 6.20535 10.7352 2.03388 3.51859L0 0Z' fill='%23F5F3F2'/%3E%3C/svg%3E%0A");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @include vp-1024 {
        width: 48px;
        height: 27px;
      }
    }
  }

  &__slide {
    &:nth-child(2n) {
      .testimonials__entry {
        &:before {
          transform: rotate(2.697deg);
        }
        &:after {
          top: calc(100% - 10px);
          width: 27px;
          height: 25px;
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 43 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H43L36.4256 10.0106C27.973 22.8812 16.2124 33.2399 2.37763 40L3.94233 34.9223C6.45751 26.7601 6.29408 18.0071 3.47594 9.94454L0 0Z' fill='%23F5F3F2'/%3E%3C/svg%3E");
          @include vp-1024 {
            width: 43px;
            height: 40px;
          }
        }
      }
    }
  }

  &__item {
    @include vp-1024 {
    }
  }

  &__text {
  }

  &__name {
  }
}
