.testimonials {
  overflow: hidden;
  &__container {
  }

  &__title {
    @include vp-768 {
    }
    @include vp-1024 {
    }
  }

  &__text {
    @include vp-768 {
    }
    @include vp-1024 {
    }
  }

  &__slider {
    .swiper {
      width: 100%;
    }
  }

  &__slide {
    &:nth-child(odd) {
      .testimonials__entry {
        // background: #f5f3f2;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='393' height='297' viewBox='0 0 393 297' fill='none'%3E%3Cpath d='M13.189 30.657C-2.20226 47.5701 -0.977571 73.5668 1.47181 125.56L3.43764 167.289C5.88702 219.282 7.11171 245.279 24.0249 260.67C36.4148 271.945 53.6793 274.303 82.4674 273.795C86.4865 280.96 86.6664 289.668 82.93 297C98.4514 292.414 112.714 284.328 124.621 273.366L126.047 272.052L286.056 264.514C338.049 262.065 364.046 260.84 379.437 243.927C394.828 227.014 393.604 201.017 391.154 149.024L389.188 107.295C386.739 55.3016 385.514 29.305 368.601 13.9137C351.688 -1.47765 325.691 -0.252962 273.698 2.19642L106.57 10.0697C54.577 12.5191 28.5804 13.7438 13.189 30.657Z' fill='%23F5F3F2'/%3E%3C/svg%3E");
      }
    }

    &:nth-child(even) {
      .testimonials__entry {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='393' height='301' viewBox='0 0 393 301' fill='none'%3E%3Cpath d='M379.437 30.657C394.828 47.5701 393.604 73.5668 391.154 125.56L389.188 167.289C386.739 219.282 385.514 245.279 368.601 260.67C351.688 276.061 325.691 274.837 273.698 272.387L123.446 265.309L119.701 271.011C111.249 283.881 99.4882 294.24 85.6534 301L87.2181 295.922C89.7333 287.76 89.5699 279.007 86.7518 270.945L84.1129 263.395C46.7373 261.303 26.1835 258.206 13.189 243.927C-2.20226 227.014 -0.977571 201.017 1.47181 149.024L3.43764 107.295C5.88702 55.3016 7.11171 29.305 24.0249 13.9137C40.938 -1.47765 66.9347 -0.252962 118.928 2.19642L286.056 10.0697C338.049 12.5191 364.046 13.7438 379.437 30.657Z' fill='%23F5F3F2'/%3E%3C/svg%3E");
      }
    }
  }

  &__item {
    @include vp-1024 {
    }
  }

  &__entry {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__text {
  }

  &__name {
  }
}
