@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../public/assets/styles/style.scss";

@layer base {
  :root {
    --montserrat: var(--montserrat);
    --seymour: var(--seymour);
    --pt-root-ui: var(--pt-root-ui);
    --fz-default: 16px;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-gray: rgba(0, 0, 0, 0.88);
  }

  @media (prefers-color-scheme: dark) {
  }

  body {
    color: var(--color-black);
    font-family: var(--montserrat);
    font-size: var(--fz-default);
    background: var(--color-white);
  }
}
