.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
  // background-color: $color-white-smoke;
  main {
    z-index: 1;
    position: relative;
    flex-grow: 1;
  }
}

.noise {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.link {
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color-default-black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }

  &:hover {
    &::after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

.rouble {
  // font-family: $ff-rouble;
  /* stylelint-disable */
  text-transform: lowercase !important;
  font-weight: 400 !important;
  /* stylelint-enable */
}

.badge {
  @apply pt-3.5 text-center text-xl font-bold leading-6 text-white h-[51px] w-[206px];
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='206' height='51' viewBox='0 0 206 51' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M195.781 15.1837C198.92 26.0617 192.646 37.4247 181.768 40.5635C145.739 50.9599 98.4231 54.9439 26.7937 43.6011C15.6112 41.8303 7.98151 31.3296 9.7523 20.1471C11.5231 8.96459 22.0238 1.33489 33.2063 3.10568C100.498 13.7615 141.521 9.50416 170.401 1.17071C181.279 -1.96816 192.642 4.30566 195.781 15.1837Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.badge_white {
  @apply pt-4 text-orange h-[56px] w-[300px];
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='222' height='41' viewBox='0 0 222 41' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M221.582 14.1323C223.165 23.29 217.026 31.9977 207.868 33.5814C164.264 41.122 105.867 44.2548 15.4103 35.6699C6.15822 34.7918 -0.630258 26.5797 0.247821 17.3276C1.1259 8.0755 9.33802 1.28702 18.5901 2.1651C106.914 10.5475 162.202 7.32378 202.133 0.41831C211.29 -1.1654 219.998 4.97455 221.582 14.1323Z' fill='white'/%3E%3C/svg%3E");
}

.badge_orange {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='41' viewBox='0 0 250 41' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M249.64 14.4952C251.023 23.6854 244.695 32.2568 235.505 33.6401C185.909 41.1052 119.247 44.2484 15.6147 35.6881C6.35256 34.923 -0.535655 26.7943 0.229426 17.5322C0.99451 8.27011 9.12316 1.3819 18.3853 2.14698C120.161 10.554 184.116 7.34069 230.495 0.359669C239.685 -1.02363 248.257 5.30507 249.64 14.4952Z' fill='%23FF9900'/%3E%3C/svg%3E");
}

.pill {
  border: 1px solid currentColor;
  border-width: 1px 1px 1px 0;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  line-height: 1;
  border-radius: 0 size(16px) size(16px) 0;
}

.sticky-side {
  position: sticky;
  top: 20px;
  left: 0;
  margin-top: 6px;
  // max-width: 190px;
}

.line-parent {
  overflow: hidden;
  // transform: translate3d(0, 0, 0);
}

.line-children {
  opacity: 0;
  transform: translate3d(0, 500px, 0);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
